<div class="cover">
  <div class="card">
    <div class="content">
      <nav class="navbar">
        <img alt="user avatar" class="avatar" src="https://avatars.dicebear.com/api/avataaars/solider.svg" />
        <span class="">Omair Gibreel</span>
        <span> | Kalvad - Task </span>

        <a class="btn p" routerLink="/book/create">create Book List</a>
      </nav>

      <div>
        <div *ngFor="
            let booklist of booksLists.booklists;
            let booklistIndex = index
          ">
          <div class="my-2">
            <div class="inputs-container">
              <label for="booklist" class="label">
                BookList No: {{ booklistIndex + 1 }}
              </label>
              <input id="booklist" class="input-form" type="text" [disabled]="booklist.isDisabled"
                [(ngModel)]="booklist.booklistName" />
              <div class="">
                <span class="icon-container" title="Remove" *ngIf="!booklist.isDisabled"
                  (click)="removeBookList(booklist.booklistName)">
                  <ng-icon class="icon" size="30" name="hero-trash-solid"></ng-icon>
                </span>
                <span>
                  <ng-icon class="icon" title="Edit" size="30" *ngIf="booklist.isDisabled"
                    (click)="booklist.isDisabled = false" name="hero-pencil-alt"></ng-icon>
                </span>

                <span>
                  <ng-icon class="icon" title="Save" *ngIf="!booklist.isDisabled" size="30"
                    (click)="booklist.isDisabled = true; updateBookListsState()" name="hero-check">
                  </ng-icon>
                </span>
              </div>
            </div>

            <div>
              <div cdkDropList (cdkDropListDropped)="drop($event, booklistIndex)">
                <div cdkDrag [cdkDragDisabled]="book.isDisabled"
                  *ngFor="let book of booklist.books; let bookIndex = index">
                  <div class="flex py-2 px-12">
                    <div class="input-container">
                      <label class="label">{{ bookIndex + 1 }}.</label>

                      <label for="title">Title</label>
                      <input id="title" class="input-form" type="text" [disabled]="book.isDisabled"
                        [(ngModel)]="book.title" />
                      <label for="author">Author</label>
                      <input id="author" class="input-form" type="text" [disabled]="book.isDisabled"
                        [(ngModel)]="book.author" />
                      <label for="year">Year</label>
                      <input id="year" class="input-form" type="text" [disabled]="book.isDisabled"
                        [(ngModel)]="book.year" />

                      <div class="text-center">
                        <span title="Remove" *ngIf="!book.isDisabled" class="icon-container" (click)="
                            removeFromBookList(booklistIndex, book.title)
                          ">
                          <ng-icon class="icon" size="30" name="hero-trash-solid"></ng-icon>
                        </span>
                        <span title="Edit" *ngIf="book.isDisabled">
                          <ng-icon class="icon" size="30" (click)="book.isDisabled = false" name="hero-pencil-alt">
                          </ng-icon>
                        </span>
                        <span title="Drag me to Reorder" *ngIf="!book.isDisabled">
                          <ng-icon class="icon" size="30" name="hero-menu"></ng-icon>
                        </span>

                        <span title="Save" *ngIf="!book.isDisabled">
                          <ng-icon class="icon" size="30" (click)="
                              book.isDisabled = true; updateBookListsState()
                            " name="hero-check">
                          </ng-icon>
                        </span>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- <p>

                    For testing purpose only TODO remove in production {{this.booksLists | json}}
                </p> -->
        </div>
      </div>
    </div>
  </div>
</div>
