$base-bgcolor: #354152;
$base-color: #a8b5cd;
$base-graycolor:gainsboro;
$base-blackcolor:#3c4043;
$base-bluecolor:#4285f4;
$base-greencolor:rgb(86, 250, 71);
$base-font-weight: 300;
$base-font-size: 1rem;
$base-line-height: 1.5;
$base-font-family: Helvetica Neue;
$base-font-family-fallback: sans-serif;
$base-dangercolor:#ff9d9d;
$link-color: #7e8ba3;
$input-placeholder-color: $base-color;

* {
  box-sizing: border-box;
}


body {
  background-color: $base-bgcolor;
  color: $base-color;
  font: $base-font-weight #{$base-font-size}/#{$base-line-height} $base-font-family,
  $base-font-family-fallback;
  margin: 0;
  padding: 20%;
  min-height: 100%;
}




.input-container {
  margin: 10px 10px;
  display: flex;
  flex-direction: column;
}

input {
  height: fit-content;
  border: 0;
  font: inherit;
  border-radius: 1%;
  margin: 7px 10px;

  outline: 4px solid $base-color;

  &::placeholder {
    color: $input-placeholder-color;
  }

}

input:disabled {
  background-color: $base-color;
}

.form {

  &__field {
    margin-bottom: 1rem;
  }

  input {
    outline: 0;
    padding: .5rem 1rem;

    &[type="email"],
    &[type="password"] {
      width: 100%;
    }

  }

}

$grid-max-width: 25rem;
$grid-width: 100%;

.grid {
  margin: 0 auto;
  max-width: $grid-max-width;
  width: $grid-width;
}

h2 {
  font-size: 2.75rem;
  font-weight: 100;
  margin: 0 0 1rem;
  text-transform: uppercase;
}

svg {
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}


a {
  color: $link-color
}


.inputs-container {
  display: flex;
  align-items: center;
  align-content: stretch;
  justify-content: flex-start;

}

.avatar {
  max-width: 1.5rem;
}

.label {
  margin: 0 .7rem;
}

.btn {
  background-color: $base-graycolor;
  border: 1px solid $base-graycolor;
  border-radius: 4px;
  color: $base-blackcolor;
  cursor: pointer;
  font-family: arial, sans-serif;
  font-size: 14px;
  height: 36px;
  line-height: 27px;
  min-width: 54px;
  padding: 0 16px;
  text-align: center;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: pre;
  margin: 2px 4px;
}

.btn:hover {
  border-color: #dadce0;
  box-shadow: $base-blackcolor 0 1px 1px;
  color: $base-blackcolor;
}

.btn:focus {
  border-color: $base-bluecolor;
  outline: none;
}

ng-icon {
  color: $base-color;
}

.draggable {
  cursor: move;
}

.no-decoration {
  text-decoration: none;
}

// =======================================Utilities Classes========================================= //
.px {
  padding: 0 1rem;
}

.p {
  padding: .7rem .7rem;
}

.my {
  margin: .7rem 0;
}

.my-2 {
  margin: 1.4rem 0;
}



.mt {
  margin-top: 1.5rem;
}


.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.danger {
  color: $base-dangercolor;
}

.flex-col {
  flex-direction: column;
}

.text-center {
  text-align: center;
}
