.bg-gray{
    background-color: beige;
}

.bg-green{
    background-color: rgb(86, 250, 71);
}
.input-container{
    margin: 10px 10px;
}
.btn:disabled{
   background: gainsboro;
}

.add-btn{
    margin-top: 10px;
}

.errors-container{
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}
