<div class="cover">
  <div class="card">
    <div class="content">
      <nav class="navbar">
        <img alt="user avatar" class="avatar" src="https://avatars.dicebear.com/api/avataaars/solider.svg" />
        <span class="px">Omair Gibreel</span>
        <span> | Create Books List </span>
        <a class="btn p no-decoration" routerLink="/book/index">Show All Booklists</a>
      </nav>

      <form [formGroup]="BookListForm" (ngSubmit)="onSubmit()">
        <div formArrayName="booklists">
          <div *ngFor="
              let booklist of booklists().controls;
              let booklistIndex = index
            ">
            <div [formGroupName]="booklistIndex">
              <div class="my align-center inputs-container">
                <div class="flex flex-col input-container">
                  <label for="booklist" class="label">
                    BookList No: {{ booklistIndex + 1 }}
                  </label>
                  <input id="booklist" required data-cy="booklist-input" class="px" type="text"
                    formControlName="booklistName" />
                </div>

                <span class="icon-container mt" title="Remove BookList" (click)="removeBookList(booklistIndex)">
                  <ng-icon class="icon" size="30" name="hero-trash-solid"></ng-icon>
                </span>


              </div>
              <div class="errors-container">
                <span class="danger" *ngIf="
                    booklist.get('booklistName')?.invalid &&
                    booklist.get('booklistName')?.dirty
                  ">Please Enter Booklist Name</span>
              </div>

              <div formArrayName="books" cdkDropList (cdkDropListDropped)="drop($event,booklistIndex)">
                <div cdkDrag *ngFor="
                    let book of booklistBooks(booklistIndex).controls;
                    let bookIndex = index
                  ">
                  <div class="flex py-2 px-12" [formGroupName]="bookIndex">
                    <div class="input-container">
                      <label class="label mt">{{ bookIndex + 1 }}.</label>

                      <div class="input-container">
                        <label class="label" for="title">Title</label>
                        <input required id="title" class="px" type="text" formControlName="title" />
                      </div>

                      <div class="input-container">
                        <label class="label" for="author">Author</label>
                        <input required id="author" class="px" type="text" formControlName="author" />
                      </div>

                      <div class="input-container">
                        <label for="year" class="label">Year</label>
                        <input required id="year" class="px" type="text" pattern="[0-9]+" inputmode="numeric"
                          formControlName="year" />
                      </div>

                      <div class="text-center">
                        <span class="icon-container mt" title="Remove Book"
                          (click)="removeFromBookList(booklistIndex, bookIndex)">
                          <ng-icon class="icon" size="30" name="hero-trash-solid"></ng-icon>
                        </span>
                        <span cdkDragHandle title="Drag me to Reorder">
                          <ng-icon class="draggable" class="icon" size="30" name="hero-menu"></ng-icon>
                        </span>
                      </div>


                    </div>
                  </div>

                  <div class="errors-container">
                    <span class="danger" *ngIf="
                        book.get('title')?.invalid && book.get('title')?.dirty
                      ">Please Enter Book Title</span>

                    <span class="danger" *ngIf="
                        book.get('author')?.invalid && book.get('author')?.dirty
                      ">Please Enter Author Name</span>

                    <span class="danger" *ngIf="
                        book.get('year')?.invalid && book.get('year')?.dirty
                      ">Please Enter Year Only</span>
                  </div>
                </div>
              </div>
              <button class="add-btn" type="button" (click)="addToBookList(booklistIndex)">
                <ng-icon size="16" name="hero-plus"></ng-icon> Add Book To bookList No : {{booklistIndex + 1}}
              </button>
            </div>
          </div>

          <button data-cy="add-booklist" class="btn" type="button" (click)="addBookList()">
            <ng-icon size="16" name="hero-plus"></ng-icon> Add BookList
          </button>
        </div>
      </form>
    </div>

    <div class="footer">
      <div>
        <button class="btn" type="button" (click)="resetForm()">
          <ng-icon size="13" name="hero-ban"></ng-icon> Reset
        </button>
        <button class="btn bg-green" type="button"
          [disabled]="this.BookListForm.invalid || this.BookListForm.value.booklists.length===0" (click)="onSubmit()">
          <ng-icon size="13" name="hero-paper-airplane"></ng-icon> Submit
        </button>
      </div>
    </div>
    <!-- For testing purpose only TODO remove in production {{this.BookListForm.value | json}} -->
  </div>
</div>
